body{
    background-color: black;
}

#root{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
}

.squareRow{
    width: 640px;
    height: 80px;
    display: flex;
}

.white{
    background-color: azure;
}

.black{
    background-color: lightblue;
}

.square{
    width: 80px;
    height: 80px;
}